<!-- Header start
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<header class="landing-partner" id="header">
<div class="background-overlay">
  <div class="row header-content" id="header-content">
    <div class="welcome" style="color:#fff; text-align:center">
        <div class="welcome-title">
            Partner section
        </div>
        <div class="welcome-subtitle">
            Watch your favorite movies and TV series on demand
        </div>
        <div class="welcome-text">
          Ad volumus evertitur deterruisset usu. Vim ei mediocrem adipiscing
        </div>
        <button class="button button-ghost" onclick="location.href='<?= $app->urlFor('become-partner') ?>'">become partner</button>
        <button class="button-primary" onclick="location.href='<?= $app->urlFor('partner-login') ?>'">login<span class="fa fa-angle-right"></button>
    </div>
  </div>
  <!--<div class="scroll-down" id="scroll-elem">
      <a href="#container"><span class="fa fa-angle-down"></span></a>
  </div>-->    
</div>
</header>