<div class="wrapper">
<section id="">
    <div class="row">
        <div class="center">
            <h2>New password for <?= $username ?></h2><br>
            <!--<p style="color: #34495e">Veuillez entrez votre identifiant pour la creation d'un nouveau mot de passe.</p>-->
        </div>
        <div class="center width-20">
            <form method="post" action="<?= $app->urlFor('reset-post') ?>">
                <input class="u-full-width" name="password" placeholder="password" id="" type="password" required>
                <input class="u-full-width" name="token" id="" type="hidden" value="<?= $token ?>" required>
                <input class="u-full-width" name="username" id="" type="hidden" value="<?= $username ?>" required>
                <input class="button-primary u-full-width" value="submit" type="submit">
                <input type="hidden" name=<?php echo '"' . $csrf_key . '"'?> value=<?php echo '"' . $csrf_token. '"' ?>>
            </form>
        </div>
    </div>
</section>
</div>