/* Base styles
 ______________________________________________________________________________*/
* {
   
}

a {
    outline: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

section {
    padding: 30px 0;
}

.landing {
    background: url(../img/family_movie.jpg) no-repeat top center fixed;
    position: relative;
    width: 100%;
    height: 65%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.landing-partner {
    background: url(../img/camera_lens_1.jpg) no-repeat top center fixed;
    position: relative;
    width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-page,
.register-page {
    background: url(../img/family_movie.jpg) no-repeat top center fixed;
    position: relative;
    width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-page-partner {
    background: url(../img/camera_lens_1.jpg) no-repeat top center fixed;
    position: relative;
    width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#first-section {
    /* Navbar height + border*/
    margin-top: 71px;
    /*padding-top: 71px;*/
    position: relative;
}

.padding-top-30 {
    padding-top: 30px;
}

.center {
    margin: auto;
    text-align: center;
}

.width-20 {
    width: 20%;
}

.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.wrapper {
    padding-top: 71px;
    min-height: calc(100% - 71px);
    margin-bottom: -300px;
}

.wrapper:after {
    content: "";
    display: block;
    height: 371px;
}

footer {
    background: #222;
    /*padding: 150px;*/
    height: 300px;
    color: #fff;
}

/* layout
 ______________________________________________________________________________*/
.container {
    margin: 0 auto;
    overflow: visible;
    table-layout: fixed;
}

.centered-content {
    text-align: center;
}
/*
.login-box {
    width: 30%;
    margin: 0 auto;
}
*/

.centered-box {
    width: 35%;
    margin: 0 auto;
}

/* Forms
 ______________________________________________________________________________*/
.form-box-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.policy-index-page,
.policy {
    position: relative;
    font-size: 11px;
    text-align: center;
}

.policy {
    margin-top: 3.5em;
    color: #fff;
}

.policy a {
    color: #fff;
}

#index-register-form {
    margin-bottom: 0px;
}

.policy-index-page {
    margin-top: 2em;
    color: #222;
}

.policy-index-page a {
    color: #222;
}

.input-error {
    border: 1px solid #ECA6A6;
}

.form-box-title  {
    color: #fff;
}

.form-box {
    position: relative;
    width: 50%;
    top: 45%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}

.form-box form,
.form-box input[type="submit"],
.form-box input[type="checkbox"] {
    margin-bottom: 0;
}

.form-box a {
    color: #A3A9AB;
    position: relative;
    text-decoration: none;
    margin-bottom: 1.5rem;
    display: inline-block;
}

.form-box span {
    margin-left: 0px;
}

#form-forgot-passwd {
    width: 50%;
    text-align: right;
}

#form-remember-me {
    width: 50%;
    text-align: left;
}

.bottom-form-hint a {
    margin-top: 0.6em;
    margin-bottom: 0.25em;
}

#hint-connection a {
    margin-top: 1.5em;
}

.form-box a:hover {
    color: #1EAEDB;
}

.page-section {
    color: #4f5b66;
}

.button-logout {
    background-color: #ef5350;
    color: #eee;
}

.brand {
    text-decoration: none;
    color: #000;
}

.line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

/* Welcome */
.welcome {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.welcome-title {
    font-size: 45px;
    font-weight: bold;
    /*padding-top: 15%;*/
}

.welcome-subtitle {
    font-size: 3.2rem;
}

.welcome-text {
    font-size: 18px;
}

.welcome button {
    margin-top: 30px;
}

.welcome button a {
    text-decoration: none;
    color: #fff;
}

.background-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: transparent linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0px, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.7) 100%) repeat scroll 0% 0%;
}

.header-content {
    position: relative;
    right: 0;
    left: 0;
    z-index: 3;
    width: 92%;
    height: 100%;
    margin: 0 auto;
}

.scroll-down {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    z-index: 10;
}

.scroll-down span {
    color: #fff;
    font-size: 46px;
    line-height: 42px;
}

/* Navigation
 ______________________________________________________________________________*/
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;

}

.navbar-container {
    right: 0;
    left: 0;
    /* Keep this value in sync with heder content width */
    width: 92%;
    /*max-width: 1170px;*/
    margin: 0 auto;
}

.navbar-slidemenu {
    float: left;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
}

.navbar-slidemenu > i {
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
}

.navbar-brand {
    float: left;
    font-weight: 700;
    font-size: 35px;
    color: #fff;
    font-family: "Bangers", Helvetica, Arial, sans-serif;
}

a.navbar-brand {
    text-decoration: none;
}

.navbar.full {
    height: 70px;
    line-height: 70px;
}

.white-bg {
    background-color: #fff;
}

.navbar.dock {
    background-color: #fff;
    height: 50px;
    top: 0px;
    left: 0px;    
    line-height: 50px;
    z-index: 100;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;

    /* Add transparent, gradient background */
    /*background: transparent linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0px, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0.5) 70%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 100%) repeat scroll 0% 0%;*/
}

.navbar.navbar-shadow {
    box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
    -moz-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
    -webkit-box-shadow: inset 0 1px #fff, 0 1px 3px rgba(34,25,25,0.4);
}

.navbar-button {
    font-size: 10px;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
}

.navbar-button:hover {
    background-color: #fff;
	color: #000;
	transition: background-color 0.3s ease-in,
	              color 0.3s ease-in;
}

.button-ghost {
    color: #fff;
}

.button-ghost:hover {
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s ease-in,
                  color 0.3s ease-in;
}

.navbar.navbar-classic a {
    color: #4f5b66;
}

.navbar.dock a {
    color: #4f5b66;
}

.navbar-menu {
    overflow: hidden;
    text-align: right;
    left: 0;
    right: 0;
}

.navbar-menu a {
    text-decoration: none;
    /*text-transform: uppercase;*/
    font-size: 14px;
    color: #fff;
    padding: 0 15px;
}

/* skeleton */
.navbar,
.navbar-spacer {
display: block;
width: 100%;
height: 6.5rem;
z-index: 99;
}
.navbar-spacer {
display: none; }

.navbar-list {
list-style: none;
margin-bottom: 0; }
.navbar-item {
position: relative;
/*float: left;*/
margin-bottom: 0; }
.navbar-link {
text-transform: uppercase;
font-size: 11px;
font-weight: 600;
letter-spacing: .2rem;
/*margin-right: 35px;*/
text-decoration: none;
line-height: 6.5rem;
color: #222; }
.navbar-link.active {
color: #33C3F0; }

/* Navigation ends
 ______________________________________________________________________________*/

/* Section*/
.catalog-section {
    background-color: #ededed;
    position: relative;
    z-index: 5;
}

.player-section {
    background-color: #000;
    position: relative;
    padding: 0;
}

/* Video */
#video-player {
    margin: 0 auto;
}

.movie-details {
    height: 400px;
}
.movie-details-left {
    /*height: 400px;*/
}

.movie-details-left img {
    display: block;
    max-height: 100%;
    max-width: 100%;
}

.video-bottom-bar {
    border-bottom: 2px solid #EAEAEA;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(234, 234, 234);
    background-color: #fff;
    height: 66px;
}

.sypnosie-text {
    font-size: 20px;
    line-height: 1.5;
}

/* Search bar
 ______________________________________________________________________________*/
.search-bar {
    width: 50%;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    margin: 0 auto;
}

.search-bar input#search {
    background: transparent;
    border: 1px solid #bbb;
    height: 60px;
    font-size: 15pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
}

.search-bar .icon {
    position: absolute;
    top: calc(50% + 11px);
    right: 10px;
    font-size: 22px;
    z-index: 1;
    color: #4f5b66;
}

/* UI card
 ______________________________________________________________________________*/
.cards-row {
    overflow: hidden;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.card {
    position: relative;
    flex-basis: 30%;
    height: 400px;
    transition: top 250ms ease 0s;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    background: black;
    margin-bottom: 20px;
}

.card-item {
    text-align: left;
}

.card-link-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.card-tag {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 45px;
    height: 30px;
    border-radius: 2px;
    color: #FFF;
    text-align: center;
    transition: opacity 01s ease 0s;
    background-color: cadetblue;
    -webkit-transition-property: top;
    -moz-transition-property: top;
    -o-transition-property: top;
    transition-property: top;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.card:hover .card-tag {
    /*display: none;*/
    opacity: 0.0;
}

.card-tag-res {
    line-height: 30px;
}

.card-thumb {
    position: relative;
    height: 235px;
    overflow: hidden;
    text-align: center;
    transition: height 0.3s ease 0s;
    height: 100%;
    opacity: 0.8;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.card-thumb img {
    display: block;
    opacity: 1;
    transition: opacity 01s ease 0s;
    height: 100%;
    -webkit-transition-property: top;
    -moz-transition-property: top;
    -o-transition-property: top;
    transition-property: top;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.card-body {
    overflow: hidden;
    position: absolute;
    cursor: default;
    top: 400px;
    padding: 10px;
    transition: height 0.3s ease 0s;
    color: white;
    -webkit-transition-property: top;
    -moz-transition-property: top;
    -o-transition-property: top;
    transition-property: top;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.card:hover .card-body {
    top: 0px;
}
.card:hover .card-thumb {
    transform: scale(1.1,1.1);
}

.card-body a {
  text-decoration: none;
  color: #fff;
}

.card-title {
    height: 40px;
    margin: 0px;
    padding: 5px 0px 5px;
    letter-spacing: -1px;
    text-align: center;
}

.card-title h5 {
    font-weight: 700;
}

.card-line {
    width: 50%;
    height: 1px;
    margin-left: 25%;
    margin-bottom: 12px;
    border-bottom: 1px solid #fff;
}

.card-description {
    font-size: 16px;
}

.card-description p {
  text-align: justify;
}

.card-footer {
    position: absolute;
    display: none;
    background: transparent linear-gradient(to bottom, rgba(255, 255, 255, 0) 0px, #fff 55%, #fff 100%) repeat scroll 0% 0%;
    color: #A3A9AB;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 40px 20px 10px;
    min-height: 15px;
    font-size: 12px;
    text-transform: uppercase;
}

.card:hover .card-footer {
  display: block;
}

.card:hover .card-thumb {
    opacity: 0.3;
}

#flash-message {
    display: none;
}

/* signed in user button */
.button-user {
    position: relative;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
    line-height: 36px;
    width: 40px;
    border-radius: 40px;
    border: 1px solid #bbb;   
}

.button-user:hover {
    border: 1px solid #222;
}

.button-user > .user-icon {
    width: 40px;
    height: 40px;
    text-align: center;
}

.user-icon {
    display: block;
}

.user-icon > i {
    font-size: 30px;
    vertical-align: middle;
    color: #bbb;
}

.social {
    position: relative;
    height: 100%;
}

#social-buttons {
    height: 100%;
    display: inline-block;
}

.jssocials-share-link {
    border-radius: 50%;
    vertical-align: middle;
}

/* fa icon circle */
.custom-icon {
    font-size:35px;
    background:#fff;
    margin: auto;
/*    -webkit-border-radius:1100%;
    -moz-border-radius:100%;
    -o-border-radius:100%; */
    border-radius:100%;
    border:1px solid rgba(0, 0, 0, 0.46);
    color:rgba(0, 0, 0, 0.44);
    text-align:center;
    display:table-cell;
    vertical-align:middle;
    width:40px;
    height:40px;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
}

.custom-icon:hover {
    border:1px solid rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
}

.fix-editor {
    display:none;
}

.icon-wrapper {
    display:inline-block;
}

/* sweetalert2 custom */
.sweet-alert {
    font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sweet-confirm {
    outline: 0;
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0;
}

.sweet-confirm:hover,
.sweet-confirm:focus {
    color: #FFF;
    background-color: #1EAEDB;
    border-color: #1EAEDB;
}

.sweet-alert hr {
    margin-top: 0;
    margin-bottom: 0;
}

/* Pnotify custom */
.brighttheme {
    border-radius: 4px;
}

.brighttheme-error {
    background-color: #EC644B;
    background-image: none;
}

.brightheme-icon-error {
    color: #EC644B;
}