<section id="first-section" class="catalog-section">
<!-- Container start
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container" id="container">

    <!-- Search start
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!--
    <div class="row">
        <div class="search-bar" id="search-bar">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input class="u-full-width" id="search" type="text" placeholder="Chercher un film ou une serie...">
        </div>
    </div>
-->

    <!-- Search end
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    

    <!-- Catalogue start
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="page-header">
        <h2>Films</h2>
    </div>
    
    <div class="row cards-row">
        <div class="card-grid">

            <div class="card">
                <a href="<?= $app->config->get('app.url'); ?>/movie/shshs"><div class="card-link-overlay"></div></a>
                <div class="card-thumb">
                    <img src="https://d1oi7t5trwfj5d.cloudfront.net/1a/7560d042ff11e2a90122000a1d0930/file/110491-b-les-saignantes%20(1).jpg">
                </div>
                <div class="card-tag">
                    <span class="card-tag-res">HD</span>
                </div>
                <div class="card-body">
                    <div class="card-title"><h5>Les Saignantes</h5></div>
                    <div class="card-line"></div>
                    <div class="card-description">
                        <p>
                        C'est parce qu'elle brigue un marché public que Majolie couche avec le SGCC (Secrétaire Général du Cabinet Civil). Mais l'homme âgé meurt à la suite d'une partie de sexe acrobatique. Le plan de Majolie tombe à l'eau. Il y a un cadavre, il faut s'en débarrasser. Agir, c'est tout ce qui compte, peu importe si on n'est pas une professionnelle. Pour Majolie et Chouchou, qui n'ont pour seules armes leur corps et leur bouche, les improvisations sont porteuses d'un espoir... "Les Saignantes" est un film d'une Afrique à la recherche de son cinéma. L'avenir et l'Afrique sont deux choses qui ne vont pas ensemble? Quand il est impossible de se projeter, le futur demeure inaccessible... C'est de cette prison qu'il faut sortir l'Afrique : la prison de l'imaginaire. Comment obtenir une chose qu'on ne peut pas voir?
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    Drame<span> |</span>
                    2014<span> |</span>
                    <span class="fa fa-clock-o"></span> 93min
                </div>
            </div>

            <div class="card">
                <a href="<?= $app->config->get('app.url'); ?>/movie/shshs"><div class="card-link-overlay"></div></a>
                <div class="card-thumb">
                    <img src="http://ia.media-imdb.com/images/M/MV5BMTM4NDM5NzU0MF5BMl5BanBnXkFtZTcwMTIyODYyOQ@@._V1__SX1859_SY1063_.jpg" >
                </div>
                <div class="card-tag">
                    <span class="card-tag-res">HD</span>
                </div>
                <div class="card-body">
                    <div class="card-title"><h5>W.A.K.A</h5></div>
                    <div class="card-line"></div>
                    <div class="card-description">
                        <p>
                        C'est l'histoire de Mathilde, maman du jeune Adam le jour et prostituée la nuit sous le nom de Maryline. Mathilde se prostitue pour subvenir aux besoins de son fils et s’accommode de sa routine quand un jour, un personnage du passé fait irruption dans sa vie. Sous la coupe de Max, proxénète véreux et violent, Mathilde devra faire des choix bouleversants. Jusqu'où ira-t-elle par amour pour Adam ?
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    Drame<span> |</span>
                    2014<span> |</span>
                    <span class="fa fa-clock-o"></span> 97 min
                </div>
            </div>

            <div class="card">
                <a href="<?= $app->config->get('app.url'); ?>/movie/shshs"><div class="card-link-overlay"></div></a>
                <div class="card-thumb">
                    <img src="https://source.unsplash.com/random/370x400">
                </div>
                <div class="card-tag">
                    <span class="card-tag-res">HD</span>
                </div>
                <div class="card-body">
                    <div class="card-title"><h5>Consequences tribales 1</h5></div>
                    <div class="card-line"></div>
                    <div class="card-description">
                        <p>
                        Ad volumus evertitur deterruisset usu. Vim ei mediocrem adipiscing. Vim
                        facete labores ut, quaeque alterum insolens has et, vis soleat signiferumque
                        at. Nec propriae voluptua eu, nullam labores nec ea. Mel errem salutandi et.
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    Drame<span> |</span>
                    2014<span> |</span>
                    <span class="fa fa-clock-o"></span> 92 min
                </div>
</div>
        </div>

    </div>
    
    <div class="page-header">
        <h2>Series</h2>
    </div>
    
    <div class="row cards-row">
        <div class="card-grid">
            <div class="card">
                <a href="<?= $app->config->get('app.url'); ?>/movie/shshs"><div class="card-link-overlay"></div></a>
                <div class="card-thumb">
                    <img src="https://source.unsplash.com/random/370x400">
                </div>
                <div class="card-tag">
                    <span class="card-tag-res">HD</span>
                </div>
                <div class="card-body">
                    <div class="card-title"><h5>Consequences tribales 1</h5></div>
                    <div class="card-line"></div>
                    <div class="card-description">
                        <p>
                        Ad volumus evertitur deterruisset usu. Vim ei mediocrem adipiscing. Vim
                        facete labores ut, quaeque alterum insolens has et, vis soleat signiferumque
                        at. Nec propriae voluptua eu, nullam labores nec ea. Mel errem salutandi et.
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    Drame<span> |</span>
                    2014<span> |</span>
                    <span class="fa fa-clock-o"></span> 92 min
                </div>
            </div>

            <div class="card">
                <a href="<?= $app->config->get('app.url'); ?>/movie/shshs"><div class="card-link-overlay"></div></a>
                <div class="card-thumb">
                    <img src="https://source.unsplash.com/random/370x400">
                </div>
                <div class="card-tag">
                    <span class="card-tag-res">HD</span>
                </div>
                <div class="card-body">
                    <div class="card-title"><h5>Consequences tribales 1</h5></div>
                    <div class="card-line"></div>
                    <div class="card-description">
                        <p>
                        Ad volumus evertitur deterruisset usu. Vim ei mediocrem adipiscing. Vim
                        facete labores ut, quaeque alterum insolens has et, vis soleat signiferumque
                        at. Nec propriae voluptua eu, nullam labores nec ea. Mel errem salutandi et.
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    Drame<span> |</span>
                    2014<span> |</span>
                    <span class="fa fa-clock-o"></span> 92 min
                </div>
            </div>

            <div class="card">
                <a href="<?= $app->config->get('app.url'); ?>/movie/shshs"><div class="card-link-overlay"></div></a>
                <div class="card-thumb">
                    <img src="https://source.unsplash.com/random/370x400">
                </div>
                <div class="card-tag">
                    <span class="card-tag-res">HD</span>
                </div>
                <div class="card-body">
                    <div class="card-title"><h5>Consequences tribales 1</h5></div>
                    <div class="card-line"></div>
                    <div class="card-description">
                        <p>
                        Ad volumus evertitur deterruisset usu. Vim ei mediocrem adipiscing. Vim
                        facete labores ut, quaeque alterum insolens has et, vis soleat signiferumque
                        at. Nec propriae voluptua eu, nullam labores nec ea. Mel errem salutandi et.
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    Drame<span> |</span>
                    2014<span> |</span>
                    <span class="fa fa-clock-o"></span> 92 min
                </div>
            </div>
        </div>    
    </div>

    <!-- Catalogue end
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    </div>
    <!-- Container end
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    
</section>