<?php $site_url = $app->config->get('app.url'); //var_dump($auth);  ?>

<div class="fex-video widescreen">
	<!-- Standard video.js embed with a DASH source -->
	<video id="video-player" class="video-js vjs-default-skin" controls preload="auto" width="768" height="432">
		<!--
	
		<source src="http://localhost/media/minions/minions.mpd"
		type="application/dash+xml">	
	   <source src="http://www-itec.uni-klu.ac.at/ftp/datasets/DASHDataset2014/BigBuckBunny/4sec/BigBuckBunny_4s_onDemand_2014_05_09.mpd"
	  type="application/dash+xml">
	-->
	  <source src="https://bitdash-a.akamaihd.net/content/MI201109210084_1/mpds/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.mpd"
	  type="application/dash+xml">
	</video>
</div>

<script src=<?= '"' . $site_url . '/bower_components/video.js/dist/video.min.js"' ?>></script>
<script src=<?= '"' . $site_url . '/third_party/dashjs-1.6.0/dash.all.js"' ?>></script>
<script src=<?= '"' . $site_url . '/third_party/videojs-contrib-dash-2.0.0/dist/videojs-dash.min.js"' ?>></script>

<script>
  var player = videojs('video-player');
</script>