<?php
$hasPostData = $app->session->has('post-data');
$postData = $app->session->get('post-data');
$app->session->delete('post-data');
?>
<header class="login-page" id="header">
    <div class="background-overlay">
        <div class="row">
            <div class="form-box-wrapper">
                <div class="form-box-title">
                    <h2>S'identifier</h2>
                </div>
                <div class="form-box" autocomplete="off">
                    <form method="post">
                        <input class="u-full-width" name="username" placeholder="Nom d'utilisateur ou courriel" id="" type="text" required
                        <?php if ($hasPostData && array_key_exists('username', $postData)) echo 'value="' . $postData['username'] . '"' ?>>
                        <input class="u-full-width" name="password"  placeholder="Mot de passe" id="" type="password" required>
                        <span class="six columns" id="form-remember-me"><input type="checkbox" name="remember" value="checked" checked><small style="color: #A3A9AB;">  rester connecté</small></span>
                        <span class="six columns" id="form-forgot-passwd"><a href="<?= $app->urlFor('forgot') ?>"><small>Mot de passe oublié?</small></a></span>
                        <!--<input id="spinjs-button" class="button-primary u-full-width" value="Se connecter" type="submit">-->
                        <button id="spinjs-button" class="button-primary u-full-width" value="Se connecter">Se Connecter</button>
                        <input type="hidden" name=<?php echo '"' . $csrf_key . '"'?> value=<?php echo '"' . $csrf_token. '"' ?>>
                        <span class="bottom-form-hint" id=""><small>Vous n'avez pas de compte ? <a href="<?= $app->urlFor('register') ?>">S'inscrire</small></a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>  
</header>