<div class="wrapper">
    <section id="">
        <div class="row">
            <div class="center">
                <h2>Veuillez activer votre compte!</h2><br>
                <p style="color: #34495e">Votre compte n'a pas encore été activé. Un code d'activation vous a été envoyé par courriel.<br>
                Si vous ne recevez pas de courriel dans les 10 minutes au plus tard veuillez cliquer sur "Renvoyer le courriel" pour un nouvel envoie.</p>
            </div>
            <div class="center">
                <form method="post" action="<?= $app->urlFor('resend-activation-email') ?>">
                    <input class="u-full-width" name="username" placeholder="Nom d'utilisateur ou courriel" id="" type="hidden" value="<?= $username ?>" required>
                    <div class="row center width-30">
                        <div class="six columns">
                            <input class="button-primary u-full-width" value="Renvoyer le courriel" type="submit">
                        </div>
                        <div class="six columns">
                            <a class="button u-full-width" href="<?= $app->urlFor('login') ?>">Continuer</a>
                        </div>
                    </div>
                    <input type="hidden" name=<?php echo '"' . $csrf_key . '"'?> value=<?php echo '"' . $csrf_token. '"' ?>>
                </form>
            </div>
        </div>
    </section>
</div>