<?php
$hasPostData = $app->session->has('post-data');
$postData = $app->session->get('post-data');
$app->session->delete('post-data');
?>
    <header class="register-page" id="header">
        <div class="background-overlay">
            <div class="row">
                <div class="form-box-wrapper">
                    <div class="form-box-title">
                        <h2>S'inscrire</h2>
                    </div>
                    <div class="form-box">
                        <form method="post" autocomplete="off">
                            <input class="u-full-width" name="username" placeholder="Nom d'utilisateur" id="" type="text" required
                                <?php if ($hasPostData && array_key_exists('username', $postData)) echo 'value="' . $postData['username'] . '"' ?>>
                            <input class="u-full-width" name="email"  placeholder="Email" id="" type="email" required
                                <?php if ($hasPostData && array_key_exists('email', $postData)) echo 'value="' . $postData['email'] . '"' ?>>
                            <input class="u-full-width" name="password"  placeholder="Mot de passe" id="" type="password" required>
                            <input class="button-primary u-full-width" value="S'inscrire" type="submit">
                            <input type="hidden" name=<?php echo '"' . $csrf_key . '"'?> value=<?php echo '"' . $csrf_token. '"' ?>>
                            <span class="bottom-form-hint" id="hint-connection"><small>Vous possédez déjà un compte ? <a href="<?= $app->urlFor('login') ?>">Se connecter</small></a></span>
                        </form>
                    </div>
                    <div class="row policy">
                        En cliquant sur s'inscrire, vous acceptez les <a href="<?= $app->urlFor('terms-of-use') ?>">Conditions d'utilisation</a>, la <a href="<?= $app->urlFor('privacy-policy') ?>">Politique de confidentialité</a>, et la <a href="<?= $app->urlFor('cookies-policy') ?>">Politique relative aux cookies</a> de Eza.
                    </div>
                </div>
            </div>
        </div>
    </header>

