<div class="wrapper">
	<section>
		<!-- Container start
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<div class="container" id="container">
			<div class="row center">
				<h2>Erreur 404: Page introuvable</h2>
				<!--<div id="player"></div>
					<script type="text/javascript" src="//bitmovin-a.akamaihd.net/bitmovin-player/stable/7/bitmovinplayer.js"></script>
				    <script type="text/javascript">
				      var conf = {
				        key: "ea6fadf9-3ef5-40a1-baf3-1c40459aa234",
				        source:    {
				          dash: "http://bitmovin-a.akamaihd.net/content/sintel/sintel.mpd"
				        }
				      };
				      var player = bitmovin.player('player');
				 
				      player.setup(conf).then(function(value) {
				        // Success
				      }, function(reason) {
				        // Error!
				      });
				    </script>-->
			</div>
		</div>
		<!-- Container end
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	</section>
</div>