<div class="wrapper">
	<section>
		<!-- Container start
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<div class="container" id="container">
			<div class="row center">
				<h2>Erreur 500: Service temporairement indisponible. </h2>
			</div>
		</div>
		<!-- Container end
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	</section>
</div>