<?php $site_url = $app->config->get('app.url'); //var_dump($auth);  ?>
<section id="first-section" style="background-color: #ededed;">

	<div class="container movie-details">
		<div class="row">
			<h2>Les Saignantes</h2>
		</div>
		<div class="row">
			<div class="three columns movie-details-left">
				<img src="https://source.unsplash.com/random/410x600">
			</div>
			<div class="nine columns">
				<!--<div class="movie-details-title"><h4>Les saignantes</h4></div>-->
				<div class="row">
					<a class="button" id="trailer-button" href="#">Trailer</a>
					<!--<a class="button button-primary" href="#">Louer pour 3 jours</a>-->
					<a class="button button-primary" href=<?= '"' . $site_url . '/en/watch/shshs"' ?>>Watch now</a>
				</div>
				<div class="movie-details-desc">
					<p>
	                C'est parce qu'elle brigue un marché public que Majolie couche avec le SGCC (Secrétaire Général du Cabinet Civil). Mais l'homme âgé meurt à la suite d'une partie de sexe acrobatique. Le plan de Majolie tombe à l'eau. Il y a un cadavre, il faut s'en débarrasser. Agir, c'est tout ce qui compte, peu importe si on n'est pas une professionnelle. Pour Majolie et Chouchou, qui n'ont pour seules armes leur corps et leur bouche, les improvisations sont porteuses d'un espoir... "Les Saignantes" est un film d'une Afrique à la recherche de son cinéma. L'avenir et l'Afrique sont deux choses qui ne vont pas ensemble? Quand il est impossible de se projeter, le futur demeure inaccessible... C'est de cette prison qu'il faut sortir l'Afrique : la prison de l'imaginaire. Comment obtenir une chose qu'on ne peut pas voir ?
	                </p>
                </div>
			</div>
		</div>
	</div>

</section>

<section style="padding: 0 0;">
	<div class="video-bottom-bar row">
		<div class="container social">
			<div id="social-buttons"></div>
		</div>
	</div>
</section>

<section style="padding: 20 0;">
	<div class="row container">
		<h3>Details</h3>
		<table class="u-full-width">
		  <tbody>
		    <tr>
		      <td>Genres</td>
		      <td>Drame</td>
		    </tr>
		    <tr>
		      <td>Director</td>
		      <td>Max Musterman</td>
		    </tr>
		    <tr>
		      <td>Starring</td>
		      <td>Max Musterman</td>
		    </tr>
		    <tr>
		      <td>Supporting actors</td>
		      <td>Max Musterman</td>
		    </tr>
		    <tr>
		      <td>Studio</td>
		      <td>Mozart production</td>
		    </tr>
		    <tr>
		      <td>Subtitle</td>
		      <td>English</td>
		    </tr>
		    <tr>
		      <td>Quality</td>
		      <td>SD, HD, Full HD</td>
		    </tr>
		  </tbody>
		</table>
	</div>
</section>
<?php $site_url = $app->config->get('app.url'); //var_dump($auth);  ?>
<!-- The overlay -->
<div id="trailer-overlay" class="overlay">
    <div id="overlay-header" class="overlay-header">
        <div class="overlay-title">
            <h3><span id="trailer-overlay-close" class="fa fa-arrow-circle-o-left"></span>&nbsp;&nbsp;Les Saignantes</h3>
        </div>
    </div>

    <!-- Button to close the overlay navigation 
    <a id="trailer-overlay-close" href="" class="closebtn">&times;</a>-->

    <!-- Overlay content -->
    <div id="trailer-video" class="overlay-content">
        <div id="trailer-div" class="fex-video widescreen">
            <!-- JS handle the rest -->
        </div>
    </div>
</div>

<script src=<?= '"' . $site_url . '/bower_components/video.js/dist/video.min.js"' ?>></script>
<script src=<?= '"' . $site_url . '/third_party/dashjs-1.6.0/dash.all.js"' ?>></script>
<script src=<?= '"' . $site_url . '/third_party/videojs-contrib-dash-2.0.0/dist/videojs-dash.min.js"' ?>></script>