<section id="first-section" class="player-section">
<!-- Container start
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container" id="container">
	<!--<div id="player"></div>
	<script type="text/javascript" src="//bitmovin-a.akamaihd.net/bitmovin-player/stable/7/bitmovinplayer.js"></script>
    <script type="text/javascript">
      var conf = {
        key: "ea6fadf9-3ef5-40a1-baf3-1c40459aa234",
        source:    {
          dash: "http://bitmovin-a.akamaihd.net/content/sintel/sintel.mpd"
        }
      };
      var player = bitmovin.player('player');
 
      player.setup(conf).then(function(value) {
        // Success
      }, function(reason) {
        // Error!
      });
    </script>-->
	<div class="fex-video widescreen">
		<!-- Standard video.js embed with a DASH source -->
		<video id="video-player" class="video-js vjs-default-skin" controls preload="auto" width="960" height="540">
			<!--
		
			<source src="http://localhost/media/minions/minions.mpd"
			type="application/dash+xml">	
		   <source src="http://www-itec.uni-klu.ac.at/ftp/datasets/DASHDataset2014/BigBuckBunny/4sec/BigBuckBunny_4s_onDemand_2014_05_09.mpd"
		  type="application/dash+xml">
		-->
		  <source src="https://bitdash-a.akamaihd.net/content/MI201109210084_1/mpds/f08e80da-bf1d-4e3d-8899-f0f6155f6efa.mpd"
		  type="application/dash+xml">
		</video>
	</div>
</div>

</section>

<section style="padding: 0 0;">
	<div class="video-bottom-bar row">
		<div class="container social">
			<div id="social-buttons"></div>
		</div>
	</div>
</section>

<section style="padding: 20 0;">
	<div class="container">
		<div class="row">
			<h3>Sypnosis</h3>
			<p class="sypnosie-text">
			C'est parce qu'elle brigue un marché public que Majolie couche avec le SGCC (Secrétaire Général du Cabinet Civil). Mais l'homme âgé meurt à la suite d'une partie de sexe acrobatique. Le plan de Majolie tombe à l'eau. Il y a un cadavre, il faut s'en débarrasser. Agir, c'est tout ce qui compte, peu importe si on n'est pas une professionnelle. Pour Majolie et Chouchou, qui n'ont pour seules armes leur corps et leur bouche, les improvisations sont porteuses d'un espoir... "Les Saignantes" est un film d'une Afrique à la recherche de son cinéma. L'avenir et l'Afrique sont deux choses qui ne vont pas ensemble? Quand il est impossible de se projeter, le futur demeure inaccessible... C'est de cette prison qu'il faut sortir l'Afrique : la prison de l'imaginaire. Comment obtenir une chose qu'on ne peut pas voir ?
			</p>
		</div>

		<div class="row">
			<h3>Details</h3>
			<table class="u-full-width">
			  <tbody>
			    <tr>
			      <td>Genres</td>
			      <td>Drame</td>
			    </tr>
			    <tr>
			      <td>Director</td>
			      <td>Max Musterman</td>
			    </tr>
			    <tr>
			      <td>Starring</td>
			      <td>Max Musterman</td>
			    </tr>
			    <tr>
			      <td>Supporting actors</td>
			      <td>Max Musterman</td>
			    </tr>
			    <tr>
			      <td>Studio</td>
			      <td>Mozart production</td>
			    </tr>
			    <tr>
			      <td>Subtitle</td>
			      <td>English</td>
			    </tr>
			    <tr>
			      <td>Quality</td>
			      <td>SD, HD, Full HD</td>
			    </tr>
			  </tbody>
			</table>
		</div>

		<div class="row">
			<h3>Suggestions</h3>
		</div>
	</div>
</section>