<!-- Header start
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<header class="landing" id="header">
<div class="background-overlay">
  <div class="row header-content" id="header-content">
    <div class="welcome" style="color:#fff; text-align:center">
        <div class="welcome-title">
            Welcome
        </div>
        <div class="welcome-subtitle">
            Watch your favorite movies and TV series on demand
        </div>
        <div class="welcome-text">
          Ad volumus evertitur deterruisset usu. Vim ei mediocrem adipiscing
        </div>
        <button class="button-primary" onclick="location.href='register'">sign up for free</button>
    </div>
  </div>
  <div class="scroll-down" id="scroll-elem">
      <a href="#container"><span class="fa fa-angle-down"></span></a>
  </div>    
</div>
</header>

<!-- Header end
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<section class="catalog-section">
<!-- Container start
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container" id="container">

    <!-- Search start
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <div class="row">
        <div class="search-bar" id="search-bar">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input class="u-full-width" id="search" type="text" placeholder="search">
        </div>
    </div>

    <!-- Search end
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    

    <!-- Catalogue start
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="page-header">
        <h2>Movies</h2>
    </div>
    
    <div class="row cards-row">
        <div class="card-grid">
            <div class="card">
                <a href="guest/movie/shshs"><div class="card-link-overlay"></div></a>
                <div class="card-thumb">
                    <img src="http://d1oi7t5trwfj5d.cloudfront.net/1a/7560d042ff11e2a90122000a1d0930/file/110491-b-les-saignantes%20(1).jpg">
                </div>
                <div class="card-tag">
                    <span class="card-tag-res">HD</span>
                </div>
                <div class="card-body">
                    <div class="card-title"><h5>Les Saignantes</h5></div>
                    <div class="card-line"></div>
                    <div class="card-description">
                        <p>
                        C'est parce qu'elle brigue un marché public que Majolie couche avec le SGCC (Secrétaire Général du Cabinet Civil). Mais l'homme âgé meurt à la suite d'une partie de sexe acrobatique. Le plan de Majolie tombe à l'eau. Il y a un cadavre, il faut s'en débarrasser. Agir, c'est tout ce qui compte, peu importe si on n'est pas une professionnelle. Pour Majolie et Chouchou, qui n'ont pour seules armes leur corps et leur bouche, les improvisations sont porteuses d'un espoir... "Les Saignantes" est un film d'une Afrique à la recherche de son cinéma. L'avenir et l'Afrique sont deux choses qui ne vont pas ensemble? Quand il est impossible de se projeter, le futur demeure inaccessible... C'est de cette prison qu'il faut sortir l'Afrique : la prison de l'imaginaire. Comment obtenir une chose qu'on ne peut pas voir ?
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    Drame<span> |</span>
                    2014<span> |</span>
                    <span class="fa fa-clock-o"></span> 93min
                </div>
            </div>

            <div class="card">
                <a href="guest/movie/shshs"><div class="card-link-overlay"></div></a>
                <div class="card-thumb">
                    <img src="http://ia.media-imdb.com/images/M/MV5BMTM4NDM5NzU0MF5BMl5BanBnXkFtZTcwMTIyODYyOQ@@._V1__SX1859_SY1063_.jpg" >
                </div>
                <div class="card-tag">
                    <span class="card-tag-res">HD</span>
                </div>
                <div class="card-body">
                    <div class="card-title"><h5>W.A.K.A</h5></div>
                    <div class="card-line"></div>
                    <div class="card-description">
                        <p>
                        C'est l'histoire de Mathilde, maman du jeune Adam le jour et prostituée la nuit sous le nom de Maryline. Mathilde se prostitue pour subvenir aux besoins de son fils et s’accommode de sa routine quand un jour, un personnage du passé fait irruption dans sa vie. Sous la coupe de Max, proxénète véreux et violent, Mathilde devra faire des choix bouleversants. Jusqu'où ira-t-elle par amour pour Adam ?
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    Drame<span> |</span>
                    2014<span> |</span>
                    <span class="fa fa-clock-o"></span> 97 min
                </div>
            </div>

            <div class="card">
                <a href="guest/movie/shshs"><div class="card-link-overlay"></div></a>
                <div class="card-thumb">
                    <img src="https://source.unsplash.com/random/370x400">
                </div>
                <div class="card-tag">
                    <span class="card-tag-res">HD</span>
                </div>
                <div class="card-body">
                    <div class="card-title"><h5>Consequences tribales 1</h5></div>
                    <div class="card-line"></div>
                    <div class="card-description">
                        <p>
                        Ad volumus evertitur deterruisset usu. Vim ei mediocrem adipiscing. Vim
                        facete labores ut, quaeque alterum insolens has et, vis soleat signiferumque
                        at. Nec propriae voluptua eu, nullam labores nec ea. Mel errem salutandi et.
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    Drame<span> |</span>
                    2014<span> |</span>
                    <span class="fa fa-clock-o"></span> 92 min
                </div>
            </div>
        </div>

    </div>
    
    <div class="page-header">
        <h2>TV Series</h2>
    </div>
    
    <div class="row cards-row">
        <div class="card-grid">
            <div class="card">
                <a href="guest/movie/shshs"><div class="card-link-overlay"></div></a>
                <div class="card-thumb">
                    <img src="https://source.unsplash.com/random/370x400">
                </div>
                <div class="card-tag">
                    <span class="card-tag-res">HD</span>
                </div>
                <div class="card-body">
                    <div class="card-title"><h5>Consequences tribales 1</h5></div>
                    <div class="card-line"></div>
                    <div class="card-description">
                        <p>
                        Ad volumus evertitur deterruisset usu. Vim ei mediocrem adipiscing. Vim
                        facete labores ut, quaeque alterum insolens has et, vis soleat signiferumque
                        at. Nec propriae voluptua eu, nullam labores nec ea. Mel errem salutandi et.
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    Drame<span> |</span>
                    2014<span> |</span>
                    <span class="fa fa-clock-o"></span> 92 min
                </div>
            </div>

            <div class="card">
                <a href="guest/movie/shshs"><div class="card-link-overlay"></div></a>
                <div class="card-thumb">
                    <img src="https://source.unsplash.com/random/370x400">
                </div>
                <div class="card-tag">
                    <span class="card-tag-res">HD</span>
                </div>
                <div class="card-body">
                    <div class="card-title"><h5>Consequences tribales 1</h5></div>
                    <div class="card-line"></div>
                    <div class="card-description">
                        <p>
                        Ad volumus evertitur deterruisset usu. Vim ei mediocrem adipiscing. Vim
                        facete labores ut, quaeque alterum insolens has et, vis soleat signiferumque
                        at. Nec propriae voluptua eu, nullam labores nec ea. Mel errem salutandi et.
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    Drame<span> |</span>
                    2014<span> |</span>
                    <span class="fa fa-clock-o"></span> 92 min
                </div>
            </div>

            <div class="card">
                <a href="guest/movie/shshs"><div class="card-link-overlay"></div></a>
                <div class="card-thumb">
                    <img src="https://source.unsplash.com/random/370x400">
                </div>
                <div class="card-tag">
                    <span class="card-tag-res">HD</span>
                </div>
                <div class="card-body">
                    <div class="card-title"><h5>Consequences tribales 1</h5></div>
                    <div class="card-line"></div>
                    <div class="card-description">
                        <p>
                        Ad volumus evertitur deterruisset usu. Vim ei mediocrem adipiscing. Vim
                        facete labores ut, quaeque alterum insolens has et, vis soleat signiferumque
                        at. Nec propriae voluptua eu, nullam labores nec ea. Mel errem salutandi et.
                        </p>
                    </div>
                </div>
                <div class="card-footer">
                    Drame<span> |</span>
                    2014<span> |</span>
                    <span class="fa fa-clock-o"></span> 92 min
                </div>
            </div>
        </div>    
    </div>

    <!-- Catalogue end
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    </div>
    <!-- Container end
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    
</section>
    
<section class="subscribe-section">
    <!-- Container start
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="container">

    <!-- Suscribe start
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    
    <div class="row page-section">
        <div class="centered-content">
            <h2>Join today, it's free!</h2>
        </div>
        <div class="centered-box">
            <form id="index-register-form" action="<?= $app->urlFor('register'); ?>" method="post" autocomplete="off">
                <input class="u-full-width" name="username" placeholder="user name" id="" type="text" required><br>
                <input class="u-full-width" name="email"  placeholder="email" id="" type="email" required><br>
                <input class="u-full-width" name="password"  placeholder="password" id="" type="password" required><br>
                <input class="button-primary u-full-width" value="Sign up" type="submit">
                <input type="hidden" name=<?php echo '"' . $csrf_key . '"'?> value=<?php echo '"' . $csrf_token. '"' ?>>
            </form>
        </div>
        <div class="row policy-index-page">
            By clicking on sign up, you agree to our <a href="<?= $app->urlFor('terms-of-use') ?>">general terms of use</a>, our <a href="<?= $app->urlFor('privacy-policy') ?>">privacy policy</a>, as well as to our <a href="<?= $app->urlFor('cookies-policy') ?>">cookies policy</a>.
        </div>
    </div>
    
    <!-- Suscribe end
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    
</div>
<!-- Container end
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</section>