<div class="wrapper">
    <section id="">
        <!-- Container start
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        <div class="container center" id="container">
            <h2>Politique relative aux cookies</h2>
        <!-- Container end
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
        </div>
    </section>
</div>