<?php if ($posted): ?>

<div class="wrapper">
<section id="">
    <div class="row">
        <div class="center">
            <h2>Mot de passe oublié</h2><br>
            <p style="color: #34495e">Un courriel vous a été envoyé pour la reinitialisation de votre mot de passe.</p>
        </div>
        <!--<div class="center width-20">
            <form method="post">
                <input class="u-full-width" name="username" placeholder="Nom d'utilisateur ou courriel" id="" type="text" required>
                <input class="button-primary u-full-width" value="Continuer" type="submit">
                <input type="hidden" name=<?php echo '"' . $csrf_key . '"'?> value=<?php echo '"' . $csrf_token. '"' ?>>
            </form>
        </div>-->
    </div>
</section>
</div>

<?php else: ?>

<div class="wrapper">
<section id="">
    <div class="row">
        <div class="center">
            <h2>Mot de passe oublié?</h2><br>
            <p style="color: #34495e">Veuillez entrez votre identifiant pour la creation d'un nouveau mot de passe.</p>
        </div>
        <div class="center width-20">
            <form method="post">
                <input class="u-full-width" name="username" placeholder="Nom d'utilisateur ou courriel" id="" type="text" required>
                <input class="button-primary u-full-width" value="Continuer" type="submit">
                <input type="hidden" name=<?php echo '"' . $csrf_key . '"'?> value=<?php echo '"' . $csrf_token. '"' ?>>
            </form>
        </div>
    </div>
</section>
</div>

<?php endif; ?>