<!-- Header start
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<header class="landing-partner" id="header">
<div class="background-overlay">
  <div class="row header-content" id="header-content">
    <div class="welcome" style="color:#fff; text-align:center">
        <div class="welcome-title">
            Espace pro
        </div>
        <div class="welcome-subtitle">
            Retrouve tes films et séries préférés en video à la demande
        </div>
        <div class="welcome-text">
          Ad volumus evertitur deterruisset usu. Vim ei mediocrem adipiscing
        </div>
        <button class="button button-ghost" onclick="location.href='<?= $app->urlFor('become-partner') ?>'">devenir partenaire</button>
        <button class="button-primary" onclick="location.href='<?= $app->urlFor('partner-login') ?>'">se connecter <span class="fa fa-angle-right"></button>
    </div>
  </div>
  <!--<div class="scroll-down" id="scroll-elem">
      <a href="#container"><span class="fa fa-angle-down"></span></a>
  </div>-->    
</div>
</header>