<?php if ($posted): ?>

<div class="wrapper">
<section id="">
    <div class="row">
        <div class="center">
            <h2>Forgot password</h2><br>
            <p style="color: #34495e">We have sent you an email with a link to reset your password.</p>
        </div>
        <!--<div class="center width-20">
            <form method="post">
                <input class="u-full-width" name="username" placeholder="Nom d'utilisateur ou courriel" id="" type="text" required>
                <input class="button-primary u-full-width" value="Continuer" type="submit">
                <input type="hidden" name=<?php echo '"' . $csrf_key . '"'?> value=<?php echo '"' . $csrf_token. '"' ?>>
            </form>
        </div>-->
    </div>
</section>
</div>

<?php else: ?>

<div class="wrapper">
<section id="">
    <div class="row">
        <div class="center">
            <h2>Forgot your password?</h2><br>
            <p style="color: #34495e">Enter your user name or email address to reset your password.</p>
        </div>
        <div class="center width-20">
            <form method="post">
                <input class="u-full-width" name="username" placeholder="user name or email" id="" type="text" required>
                <input class="button-primary u-full-width" value="submit" type="submit">
                <input type="hidden" name=<?php echo '"' . $csrf_key . '"'?> value=<?php echo '"' . $csrf_token. '"' ?>>
            </form>
        </div>
    </div>
</section>
</div>

<?php endif; ?>