<div class="wrapper">
	<section id="">
		<!-- Container start
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<div class="container center" id="container">
			<h2>Account settings</h2>
		<!-- Container end
		–––––––––––––––––––––––––––––––––––––––––––––––––– -->
		</div>
	</section>
</div>