<?php
$hasPostData = $app->session->has('post-data');
$postData = $app->session->get('post-data');
$app->session->delete('post-data');
?>
    <header class="register-page" id="header">
        <div class="background-overlay">
            <div class="row">
                <div class="form-box-wrapper">
                    <div class="form-box-title">
                        <h2>Sign up</h2>
                    </div>
                    <div class="form-box">
                        <form method="post" autocomplete="off">
                            <input class="u-full-width" name="username" placeholder="user name" id="" type="text" required
                                <?php if ($hasPostData && array_key_exists('username', $postData)) echo 'value="' . $postData['username'] . '"' ?>>
                            <input class="u-full-width" name="email"  placeholder="email" id="" type="email" required
                                <?php if ($hasPostData && array_key_exists('email', $postData)) echo 'value="' . $postData['email'] . '"' ?>>
                            <input class="u-full-width" name="password"  placeholder="password" id="" type="password" required>
                            <input class="button-primary u-full-width" value="Sign up" type="submit">
                            <input type="hidden" name=<?php echo '"' . $csrf_key . '"'?> value=<?php echo '"' . $csrf_token. '"' ?>>
                            <span class="bottom-form-hint" id="hint-connection"><small>Already have an account ? <a href="<?= $app->urlFor('login') ?>">Log in</small></a></span>
                        </form>
                    </div>
                    <div class="row policy">
                        By clicking on sign up, you agree to our <a href="<?= $app->urlFor('terms-of-use') ?>">general terms of use</a>, our <a href="<?= $app->urlFor('privacy-policy') ?>">privacy policy</a>, as well as to our <a href="<?= $app->urlFor('cookies-policy') ?>">cookies policy</a>.
                    </div>
                </div>
            </div>
        </div>
    </header>

