<div class="wrapper">
    <section id="">
        <div class="row">
            <div class="center">
                <h2>You are signed up!</h2><br>
                <p style="color: #34495e">We sent you an email with a link to activate your account.<br>
                In case you don't receive an email within the next 10 minutes, please click on "resend email" to request a new activation link.</p>
            </div>
            <div class="center">
                <form method="post" action="<?= $app->urlFor('resend-activation-email') ?>">
                    <input class="u-full-width" name="username" placeholder="user name or email" id="" type="hidden" value="<?= $username ?>" required>
                    <div class="row center width-30">
                        <div class="six columns">
                            <input class="button-primary u-full-width" value="resend email" type="submit">
                        </div>
                        <div class="six columns">
                            <a class="button u-full-width" href="<?= $app->urlFor('login') ?>">Continue</a>
                        </div>
                    </div>
                    <input type="hidden" name=<?php echo '"' . $csrf_key . '"'?> value=<?php echo '"' . $csrf_token. '"' ?>>
                </form>
            </div>
        </div>
    </section>
</div>